@page "/ResizablePanel"


<div style="width: 500px">

	<MudResizablePanel>
		
		<Panel1>
			<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">Panel 1</MudPaper>
		</Panel1>

		<Panel2>
			<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">Panel 2</MudPaper>
		</Panel2>

	</MudResizablePanel>

</div>

@code {

}
