




input.mud-resizable-panel-slider-vertical {
    transform: rotate(90deg);
}


input.mud-resizable-panel-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    display: block;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
}

    input.mud-resizable-panel-slider:focus {
        outline: none;
    }

    input.mud-resizable-panel-slider::-webkit-slider-runnable-track {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    input.mud-resizable-panel-slider::-moz-range-track {
        width: 100%;
        height: 0;
        pointer-events: none;
    }

    input.mud-resizable-panel-slider::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        border-radius: 2px;
        height: 100%;
        width: 10px;
        transition: box-shadow .2s;
        box-shadow: var(--mud-elevation-25);
        pointer-events: auto;
    }

    input.mud-resizable-panel-slider::-moz-range-thumb {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        border-radius: 2px;
        height: 100%;
        width: 10px;
        transition: box-shadow .2s;
        box-shadow: var(--mud-elevation-25);
        pointer-events: auto;
    }

    input.mud-resizable-panel-slider::-webkit-slider-runnable-track {
        background-color: rgba(0,0,0,0);
    }

    input.mud-resizable-panel-slider::-moz-range-track {
        background-color: rgba(0,0,0,0);
    }

    input.mud-resizable-panel-slider::-webkit-slider-thumb {
        background-color: var(--mud-palette-surface);
    }

    input.mud-resizable-panel-slider::-moz-range-thumb {
        background-color: var(--mud-palette-surface);
    }

input.mud-resizable-panel-slider-vertical::-webkit-slider-thumb:hover {
    cursor: row-resize;
}

input.mud-resizable-panel-slider-vertical::-moz-range-thumb:hover {
    cursor: row-resize;
}

input.mud-resizable-panel-slider-horizontal::-webkit-slider-thumb:hover {
    cursor: col-resize;
}

input.mud-resizable-panel-slider-horizontal::-moz-range-thumb:hover {
    cursor: col-resize;
}
