
.mud-resizable-panel-slider {
}

input.mud-resizable-panel-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    /* display:block; */
    width: 100%;
    /* background-color:transparent; */
    cursor: pointer;
}

    input.mud-resizable-panel-slider:focus {
        outline: none;
    }

    input.mud-resizable-panel-slider::-webkit-slider-runnable-track {
        width: 100%;
        height: 0;
    }

    input.mud-resizable-panel-slider::-moz-range-track {
        width: 100%;
        height: 0;
    }

    input.mud-resizable-panel-slider::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        border-radius: 2px;
        height: 64px;
        width: 10px;
        transition: box-shadow .2s;
        box-shadow: var(--mud-elevation-25);
    }

    input.mud-resizable-panel-slider::-moz-range-thumb {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        border-radius: 2px;
        height: 64px;
        width: 10px;
        transition: box-shadow .2s;
        box-shadow: var(--mud-elevation-25);
    }

    input.mud-resizable-panel-slider::-webkit-slider-runnable-track {
        background-color: rgba(0,0,0,0);
    }

    input.mud-resizable-panel-slider::-moz-range-track {
        background-color: rgba(0,0,0,0);
    }

    input.mud-resizable-panel-slider::-webkit-slider-thumb {
        background-color: var(--mud-palette-surface);
    }

    input.mud-resizable-panel-slider::-moz-range-thumb {
        background-color: var(--mud-palette-surface);
    }

    input.mud-resizable-panel-slider::-webkit-slider-thumb:hover {
        cursor: col-resize;
    }

    input.mud-resizable-panel-slider::-moz-range-thumb:hover {
        cursor: col-resize;
    }
